:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --button-grey: hsl(213, 19%, 30%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}









* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Overpass;
    box-sizing: border-box;
}

body {
    background-color: var(--very-dark-blue);
}

#main-div {
    background-color: var(--dark-blue);
    width: 88%;
    /* height: 50vh; */

    margin-top: 38%;
    margin-right: auto;
    margin-left: auto;
    padding: 1.1em;

    border-radius: 15px
}

#star {
    background-color: var(--button-grey);

    width: 3em;
    height: 3em;
    border-radius: 50%;

}

#star-img {
    padding-left: 14px;
    padding-top: 14px;
}

#main-div > h2 {
    margin-top: 1em;
    margin-bottom: .75em;

    color: white;
    font-size: 1.5em;
    font-weight: 700;
}

#main-p {
    color: var(--light-grey);
    line-height: 1.5;
    margin-bottom: 2em;
}

#rankings {
    display: flex;
    justify-content: space-between;
}

.ranking-btn {
    background-color: var(--button-grey);
    color: var(--light-grey);

    text-align: center;
    padding-top: 15px;

    border-radius: 50%;
    width: 3em;
    height: 3em;
    transition-duration: 250ms;
}

#rankings > p:hover {
    cursor: pointer;
    background-color: var(--orange);
    color: white;
}

#submit {
    background-color: var(--orange);
    color: white;

    margin-top: 1.5em;

    text-align: center;
    padding: 1em;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 1em;
    transition-duration: 250ms;
}

#submit:hover {
    cursor: pointer;
    color: var(--orange);
    background-color: white;
}


#selection {
    background-color: var(--light-grey);
    color: var(--white);
}






/* Thank you screen styles */



#thank-you-state {
    background-color: var(--dark-blue);
    width: 90%;
    margin: auto;
    margin-top: 40%;
    padding: 2em 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    transition-duration: 250ms;

    display: none;
}

#thank-you-state > img {
    margin-top: 1em;
}

#rate-selection {
    background-color: var(--button-grey);
    color: var(--orange);
    text-align: center;
    font-weight: 400;
    padding: .4em .8em .25em;
    margin: 1em auto 1.25em;
    
    width: fit-content;
    border-radius: 20px;
}

#thank-you-state > h2 {
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: .75em;
}

#thank-you-p {
    text-align: center;
    line-height: 1.5;
    color: var(--light-grey);
}


@media screen and (min-width: 1440px) {
    #main-div {
        margin-top: 17%;
        padding: 2em 2em 1.5em;
        width: 29%
    }

    #thank-you-state {
        margin-top: 17%;
        padding: 2em 2em 1.5em;
        width: 29%
    }
}

